@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel/abel-regular.eot');
    src: url('../fonts/Abel/abel-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Abel/abel-regular.woff2') format('woff2'),
         url('../fonts/Abel/abel-regular.woff') format('woff'),
         url('../fonts/Abel/abel-regular.ttf') format('truetype'),
         url('../fonts/Abel/abel-regular.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}