@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?t19wpj');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?t19wpj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?t19wpj') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?t19wpj') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?t19wpj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e900";
}
.icon-mark:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e902";
}
.icon-message:before {
  content: "\e903";
}
.icon-print:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-bottom:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-top:before {
  content: "\e909";
}
.icon-delivery:before {
  content: "\e90a";
}
.icon-folder:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
