@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i');
@font-face {
  font-family: 'Abel';
  src: url('../fonts/Abel/abel-regular.eot');
  src: url('../fonts/Abel/abel-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Abel/abel-regular.woff2') format('woff2'), url('../fonts/Abel/abel-regular.woff') format('woff'), url('../fonts/Abel/abel-regular.ttf') format('truetype'), url('../fonts/Abel/abel-regular.svg#abelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot?t19wpj');
  src: url('../fonts/icomoon/fonts/icomoon.eot?t19wpj#iefix') format('embedded-opentype'), url('../fonts/icomoon/fonts/icomoon.ttf?t19wpj') format('truetype'), url('../fonts/icomoon/fonts/icomoon.woff?t19wpj') format('woff'), url('../fonts/icomoon/fonts/icomoon.svg?t19wpj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-info:before {
  content: "\e900";
}
.icon-mark:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e902";
}
.icon-message:before {
  content: "\e903";
}
.icon-print:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-arrow-right:before,
.breadcrumbs li:after {
  content: "\e906";
}
.icon-arrow-bottom:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-top:before {
  content: "\e909";
}
.icon-delivery:before {
  content: "\e90a";
}
.icon-folder:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
div.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
}
div.tagsinput span.tag {
  border: 1px solid #D8E2EA;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  background: #D8E2EA;
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 18px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0.05em;
  color: #000;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #f9f9f4;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
  margin: 0 0 30px;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
b {
  font-weight: 400;
  color: #000;
}
.text-justify {
  text-align: justify;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.order-first {
  -ms-flex-order: -1;
  order: -1;
}
.order-1 {
  -ms-flex-order: 1;
  order: 1;
}
.order-2 {
  -ms-flex-order: 2;
  order: 2;
}
.order-3 {
  -ms-flex-order: 3;
  order: 3;
}
.order-4 {
  -ms-flex-order: 4;
  order: 4;
}
.order-5 {
  -ms-flex-order: 5;
  order: 5;
}
.order-6 {
  -ms-flex-order: 6;
  order: 6;
}
.order-7 {
  -ms-flex-order: 7;
  order: 7;
}
.order-8 {
  -ms-flex-order: 8;
  order: 8;
}
.order-9 {
  -ms-flex-order: 9;
  order: 9;
}
.order-10 {
  -ms-flex-order: 10;
  order: 10;
}
.order-11 {
  -ms-flex-order: 11;
  order: 11;
}
.order-12 {
  -ms-flex-order: 12;
  order: 12;
}
.offset-1 {
  margin-left: 8.333333%;
}
.offset-2 {
  margin-left: 16.666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.333333%;
}
.offset-5 {
  margin-left: 41.666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.333333%;
}
.offset-8 {
  margin-left: 66.666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.333333%;
}
.offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 3px 34px 3px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #eaeae8;
  font-family: "Abel";
  font-weight: 400;
  letter-spacing: 0;
  box-shadow: none;
}
div.tagsinput {
  display: block;
  width: 100% !important;
  height: auto !important;
  min-height: 32px !important;
  padding: 3px 35px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #eaeae8;
  font-family: "Abel";
  font-weight: 400;
  letter-spacing: 0;
  box-shadow: none;
}
.form-control2 {
  display: block;
  width: 100%;
  padding: 6px 34px 6px 8px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  height: 30px;
  font-family: 'Abel';
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2.1px;
  border-radius: 3px;
  box-shadow: none;
}
textarea.form-control {
  min-height: 133px;
  resize: none;
}
.form-control:focus {
  border-bottom: 1px solid #000;
  outline: 0;
}
.form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #000000;
}
.form-control::-webkit-input-placeholder {
  color: #000000;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control2:focus {
  border: 1px solid #ddd;
  outline: 0;
  box-shadow: none;
}
.form-control2::-moz-placeholder {
  color: #000;
  opacity: 0.9;
}
.form-control2:-ms-input-placeholder {
  color: #000;
  opacity: 0.9;
}
.form-control2::-webkit-input-placeholder {
  color: #000;
  opacity: 0.9;
}
.form-control2::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-group {
  margin-bottom: 0;
  position: relative;
}
.btn {
  display: inline-block;
  width: auto;
  padding: 15px 44px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 2.1px;
  color: #F9F9F4;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: #B22D34;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
  background-color: #A41F26;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  background-color: #A41F26;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.main-slider {
  width: 100%;
  height: 100%;
  margin: auto;
}
.slider,
.slick-list,
.slick-track {
  height: 100%;
}
.one-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}
/* Slider */
.slick-loading .slick-list {
  background: #ffffff url('ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  z-index: 2;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "icomoon";
  font-size: 41px;
  line-height: 1;
  -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 0;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: 23px;
}
.slick-prev:before {
  content: "\e908";
}
.slick-prev:before[dir="rtl"] {
  content: "\e906";
}
.slick-next {
  right: 0;
}
.slick-next[dir="rtl"] {
  left: 23px;
  right: auto;
}
.slick-next:before {
  content: "\e906";
}
.slick-next:before[dir="rtl"] {
  content: "\e908";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -13px;
  list-style: none;
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 11px;
  width: 11px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li:first-child{
  padding-left: 0;
  margin-left: 0;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 11px;
  width: 11px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  font-family: "icomoon";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border-radius: 100%;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  background-color: #fff;
  border: 1px solid #fff;
}
.slick-dots li:after {
  display: none;
}
p,
ul,
ol {
  margin: 0 0 12px;
}
.clearfix:after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}
img {
  margin: auto;
  max-width: 100%;
  display: block;
  height: auto;
}
html,
body {
  height: 100%;
}
.main-width {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.wrapper {
  min-height: 100%;
}
.all {
  padding-bottom: 280px;
}
.main-header {
  background: #e1e8ef;
  background-image: url(../images/bg.png);
  background-attachment: fixed;
}
.main-header:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
}
.main-nav {
  font-size: 14px;
  letter-spacing: 2.1px;
}
.main-nav a {
  color: #000000;
}
.main-nav > ul {
  list-style: none;
  margin: 0;
}
.main-nav > ul > li {
  float: left;
  position: relative;
}
.main-nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  list-style: none;
  padding: 10px 0;
  border: 2px solid #d3dae1;
  background: #e1e8ef;
  min-width: 100%;
  display: none;
}
.main-nav ul ul li:hover > ul{
  display: block;
  left: 100%;
  top: 0;
}
.main-nav ul ul:hover {
  display: block;
}
.main-nav ul ul a {
  display: block;
  padding: 2px 15px;
  text-decoration: none;
  white-space: nowrap;
}
.main-nav ul ul a:hover {
  background: #d3dae1;
}
.main-nav > ul > li > a {
  display: block;
  padding: 42px 14px;
  text-decoration: none;
}
.main-nav > ul > li > a:hover ~ ul {
  display: block;
}
.main-nav > ul > li.current-menu-ancestor > a,
.main-nav > ul > li.current-menu-item > a,
.main-nav > ul > li > a:hover{
  color: #A41F26;
}
.main-nav ul ul li{
  position: relative;
}
.main-nav .icon {
  font-size: 13px;
}
.current {
  background: #f0f2f2;
}
.logo {
  float: left;
  margin-top: 14px;
  margin-right: 26px;
}
.logo a {
  display: block;
}
.search-header {
  float: right;
  position: relative;
  width: 280px;
  margin-top: 38px;
}
.search-header button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent !important;
  border: none !important;
  height: 100%;
  width: 33px;
  color: #000;
  font-size: 20px;
}
.main-footer {
  background: #e1e8ef;
  background-image: url(../images/bg.png);
  background-attachment: fixed;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding-top: 55px;
  padding-bottom: 10px;
  min-height: 230px;
  margin-top: -230px;
}
.main-footer:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
}
.main-footer a {
  color: #000;
  text-decoration: none;
}
.main-footer a:hover {
  text-decoration: underline;
}
.footer-column {
  padding-left: 85px;
  position: relative;
  margin-bottom: 55px;
}
.footer-column p {
  margin-bottom: 10px;
}
.footer-column .icon-footer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 60px;
  color: #fff;
}
.bottom-footer {
  font-size: 10px;
}
.section-product {
  padding-top: 61px;
  font-size: 14px;
  line-height: 22px;
}
.section-product h2 {
  font-size: 36px;
  letter-spacing: 5.4px;
  color: #000000;
  margin-bottom: 28px;
}
.link-style {
  color: #B22D34;
}
.img-product {
  display: block;
  height: 136px;
  border-radius: 8px;
  border: 2px solid #efefe6;
  background: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin-bottom: 6px;
}
.img-product:hover {
  opacity: 0.9;
}
.products {
  margin-top: 48px;
  margin-bottom: 48px;
}
.products p {
  margin-bottom: 40px;
  text-align: center;
}
.products p a {
  text-decoration: none;
}
.products p a:hover {
  text-decoration: underline;
}
.block-style {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1.5px;
  background: #fff;
  padding: 70px 0;
}
.home .block-style{
  padding: 40px 0;
}
.block-style *:last-child {
  margin-bottom: 0;
}
.block-style p {
  margin-bottom: 16px;
}
.block-style .row > * {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}
.block-style h2 {
  font-size: 71px;
  letter-spacing: 3.55px;
  color: #F9F9F4;
  line-height: 86px;
}
.block-style:last-child {
  margin-bottom: -50px;
}
.bg-blue {
  background: #39495b;
  color: #fff;
}
.bg-dark-grey{
  background: #666;
  color: #FFF;
}
.bg-light-green{
  font-family: 'Abel', sans-serif;
  background: #BBCFCF;
  color: #F9F9F4;
}
.bg-light-gr{
  background: #F9F9F4;
  color: #39495B;
}
.bg-light-blue {
  background: #d8e2ea;
}
.bg-gray {
  background: #f0efed;
}
.bg-gray p{
  color: #39495B;
  font-size: 28px;
  letter-spacing: 1.5px;
}
.block-style2.bg-light-blue p{
  color: #3d3d3d;
}
.span.wpcf7-not-valid-tip{
  font-size: 12px;
}
.text-center {
  text-align: center;
}

.page-template-contact .btn-sm{
  margin-top: 20px;
}

.block-style .hero-text p{
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 24px;
}
.block-style .hero-text p:last-child{
  margin-bottom: 24px;
}
.block-style .hero-text p strong{
  font-weight: 600;
}
.slider {
  font-size: 14px;
  text-align: center;
  padding-bottom: 19px;
  font-weight: normal;
}
.slider img {
  margin-bottom: 8px;
}
.slick-slide{
  position: relative;
}
.slider p{
  position: absolute;
  left: 8px;
  bottom: 0;
  right: 0;
  text-align: left;
}
.block-style2 {
  padding: 70px 0;
}
.block-style2 h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 5.4px;
  color: #000000;
  margin-bottom: 30px;
}
.block-style2 *:last-child {
  margin-bottom: 0;
}
.block-style2 .row > * {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}
.block-style2:last-child {
  margin-bottom: -50px;
}
.img-full-height {
  margin: -70px auto !important;
}
.breadcrumbs {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.7px;
  background: #F0F2F2;
  margin: 10px 0 22px;
  padding: 4px 10px;
}
.breadcrumbs ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  color: #000;
  margin-right: 16px;
  position: relative;
}
.breadcrumbs li:first-child {
  margin-right: 4px;
}
.breadcrumbs li:first-child a {
  text-decoration: none;
}
.breadcrumbs li:first-child:after {
  display: none;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:last-child a {
  text-decoration: none;
}
.breadcrumbs li:after {
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  right: -16px;
  font-size: 11px;
  color: #000000;
}
.breadcrumbs a {
  text-decoration: underline;
  color: #000000;
}
.breadcrumbs a:hover {
  text-decoration: none;
}
.breadcrumbs .icon-home {
  font-size: 16px;
  display: block;
  margin-top: 2px;
}
.main-content {
  font-size: 14px;
  color: #000;
}
.main-content h1 {
  font-size: 36px;
  letter-spacing: 5.4px;
  margin-bottom: 27px;
}
.main-content h3 {
  font-size: 24px;
  letter-spacing: 1.2px;
  margin-top: 27px;
  margin-bottom: 24px;
}
.folder-item {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.folder-item li {
  margin-bottom: 10px;
}
.folder-item a {
  display: block;
  color: #000000;
  text-decoration: none;
  border: 1px solid #b9bab5;
  background: #fff;
  border-radius: 9px;
  padding: 9px 15px;
}
.folder-item a:hover {
  color: #B22D34;
}
.folder-item .icon {
  font-size: 17px;
  vertical-align: top;
  display: inline-block;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 2px;
}
.aluminium {
  margin-bottom: 50px;
}
.aluminium h4 {
  font-size: 14px;
  background: #F0F2F2;
  color: #000;
  line-height: 25px;
  padding: 0 8px;
  margin-bottom: 13px;
}
.aluminium ul {
  list-style: none;
  padding: 0;
}
.aluminium .icon {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin-left: 9px;
  margin-right: 5px;
  margin-top: 4px;
}
.aluminium li {
  margin-bottom: 2px;
}
.section-product-info {
  overflow: hidden;
}
.section-separator{
  margin-bottom: 30px;
  margin-top: 35px;
  height: 1px;
  width: 100%;
  background: #dddddb;
}
.product-info-text {
  float: left;
}
.product-info-text p {
  margin: 0;
  line-height: 21px;
}
.left-product-info {
  width: 94px;
  display: inline-block;
}
.col-padding-top-images{
  padding-top: 10px;
}
.product-info-img {
  float: left;
  border: 1px solid #CCC;
  padding: 10px;
  position: relative;
  width: 100%;
}
.product-info-img img{
  width: 100%;
  height: auto;
}
.product-info-img-label{
  position: absolute;
  left: 10px;
  top: -10px;
  line-height: 18px;
  background: #f9f9f4;
  padding-left: 6px;
  padding-right: 6px;
}
.product-info-img.product-info-img-slider{
  width: 100%;
}
.slider-thumbnail{
  margin: 0 4px;
}
.slider-thumbnail img{
  border: 1px solid #dddddb;
}
.slider-for{
  margin-bottom: 8px;
}
.legende-block {
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  margin-right: 49px;
}
.legende-block p {
  margin: 0;
}
.wrap-legende {
  position: relative;
  margin-bottom: 19px;
  padding-right: 160px;
}
.btn-upload {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  background: #F0F2F2;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  padding: 7px 14px;
}
.btn-upload .icon {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
}
.btn-upload:hover,
.btn-upload:focus {
  color: #000;
  background: #EAECEC;
}
.wrap-table {
  overflow: auto;
  margin-bottom: 16px;
}
table {
  width: 100%;
  border: 1px solid #eaeae8;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
}
th {
  border: 1px solid #eaeae8;
  padding: 4px;
  color: #000;
  background: #f0f2f2;
  font-weight: normal;
}
td {
  border: 1px solid #eaeae8;
  padding: 4px;
  background: #fff;
}
.text-right {
  text-align: right;
}
*:not(.wrap-breadcrumbs) + .main-content {
  padding-top: 61px;
}
.checkbox {
  display: none;
}
.checkbox + div {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #eaeae8;
  background: #fff;
  border-radius: 4px;
  margin-right: 4px;
}
.btn-sm {
  padding: 6px 22px;
  border-radius: 5px;
}
.checkbox-wrap {
  padding: 21px 0;
}
.contact-block {
  padding-top: 5px;
  line-height: 21px;
  font-size: 16px;
}
.contact-block h4 {
  margin-bottom: 24px;
  margin-top: 37px;
}
.contact-block h4:first-child {
  margin-top: 0;
}
.contact-block p {
  margin-bottom: 19px;
}
.contact-width {
  display: inline-block;
  width: 100px;
}
.ihr_ansprechpartner h4 {
  margin-bottom: 0;
}
.search-long {
  position: relative;
}
.search-long button {
  position: absolute;
  left: 0;
  top: 6px;
  color: #000;
  font-size: 20px;
  background: transparent;
  border: none;
  padding: 0;
}
.search-item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-item li {
  margin-bottom: 10px;
}
.search-item .img-product {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 82px;
  margin-right: 18px;
  margin-bottom: 0;
}
.search-item p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 80%;
}
.search-results {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 22px;
}
.button-menu {
  display: none;
}
#swipebox-overlay{
  background: #f0f2f2;
}
@media (max-width: 991px) {
  .logo {
    margin-right: 4px;
  }
  .main-nav > ul > li > a {
    padding-left: 8px;
    padding-right: 8px;
  }
  .search-header {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .button-menu {
    height: auto;
    width: 2.14285714rem;
    top: 15px;
    right: 1.07142857rem;
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .button-menu div {
    width: 1.85714286rem;
    margin: 0.60714286rem 0.17857143rem;
    height: 2px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    position: relative;
    background: #fff;
    min-height: 1px;
  }
  .open-menu .button-menu div:first-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0.67857143rem;
  }
  .open-menu .button-menu div:nth-child(2) {
    opacity: 0;
  }
  .open-menu .button-menu div:last-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -0.67857143rem;
  }
  .main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .main-nav ul {
    padding: 10px 0;
  }
  .main-nav li {
    display: block;
    width: 100%;
    margin: 0;
  }
  .main-nav > ul > li > a {
    padding: 2px 10px;
    text-align: center;
  }
  .open-menu .main-nav {
    display: block;
  }
  .main-nav ul ul {
    position: static;
    text-align: center;
    border: 0 none;
    margin-bottom: 0;
    padding: 0;
  }
  .main-header {
    position: relative;
  }
  .logo {
    width: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .search-header {
    width: 150px;
    margin-top: 24px;
    float: left;
    margin-left: 10px;
  }
  .block-style {
    font-size: 18px;
    line-height: 30px;
  }
  .slick-slide {
    font-size: 16px;
    line-height: 18px;
  }
  .block-style h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .footer-column {
    padding-left: 8px;
  }
  .footer-column .icon-footer {
    left: -13px;
    font-size: 18px;
  }
  .img-full-height {
    margin-bottom: 20px !important;
  }
  .block-style2 h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .search-item p {
    width: 52%;
  }
}
