div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #D8E2EA; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px 10px; text-decoration:none; background: #D8E2EA; color: #000; margin-right: 5px; margin-bottom:5px;font-size:18px;}
div.tagsinput span.tag a { font-weight: bold; color: #000; text-decoration:none; font-size: 18px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 18px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}