

html, body {
	height: 100%;
}
.main-width{
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}

.wrapper {
	min-height: 100%;
}
.all {
	padding-bottom: 280px;
}

.main-header {
	background: #e1e8ef;
	background-image: url(../images/bg.png);
	background-attachment: fixed;

	&:after {
		content: " ";
		display: block;
		clear: both;
		width: 100%;
	}
}

.main-nav {
	font-size: 14px;
	letter-spacing : 2.1px;
	a {
		color: #000000;
	}
	> ul {
		list-style: none;
		margin: 0;
	}
	> ul > li {
		float: left;
		position: relative;
	}
	ul ul {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;
		list-style: none;
		padding: 10px 5px;
		border: 2px solid #d3dae1;
		background: #e1e8ef;
		min-width: 100%;
		display: none;
		&:hover {
			display: block;
		}
		a {
			display: block;
			padding: 2px 10px;
			text-decoration: none;
			&:hover {
				background: #d3dae1;
			}
		}
	}
	> ul > li > a {
		display: block;
		padding: 36px 14px;
		text-decoration: none;
		&:hover ~ ul {
			display: block;
		}
	}
	.icon {
		font-size: 13px;
	}
}
.current {
	background: #f0f2f2;
}
.logo {
	float: left;
	margin-top: 14px;
	margin-right: 26px;
	a {
		display: block;
	}
}

.search-header {
	float: right;
	position: relative;
	width: 280px;
	margin-top: 33px;
	button {
		position: absolute;
		top: 0;
		right: 0;
		background: transparent !important;
		border: none !important;
		height: 100%;
		width: 33px;
		color: #000;
		font-size: 20px;
	}
}


.main-footer {
	background: #e1e8ef;
	background-image: url(../images/bg.png);
	background-attachment: fixed;
	font-size: 12px;
	letter-spacing : 1.5px;
	padding-top: 55px;
	padding-bottom: 10px;
	min-height: 230px;
	margin-top: -230px;
	&:after {
		content: " ";
		display: block;
		clear: both;
		width: 100%;
	}
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}


.footer-column {
	padding-left: 85px;
	position: relative;
	margin-bottom: 55px;
	p {
		margin-bottom: 10px;
	}
	.icon-footer {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 60px;
		color: #fff;
	}
}
.bottom-footer {
	font-size: 10px;
}

.section-product {
	padding-top: 61px;
	font-size: 14px;
	line-height: 22px;
	h2 {
		font-size : 36px;
		letter-spacing : 5.4px;
		color : #000000;
		margin-bottom: 28px;
	}
}
.link-style {
	color: #B22D34;
}

.img-product {
	display: block;
	height: 136px;
	border-radius: 8px;
	border: 2px solid #efefe6;
	background: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin-bottom: 6px;
	&:hover {
		opacity: 0.9;
	}
}
.products {
	margin-top: 48px;
	margin-bottom: 48px;
	p {
		margin-bottom: 40px;
		text-align: center;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.block-style {  
	font-size : 32px;
	line-height : 48px;
	letter-spacing : 1.6px;
	background: #fff;
	padding: 70px 0;
	*:last-child {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 16px;
	}
	.row {
		> * {
			-webkit-align-self: center !important;
			-ms-flex-item-align: center !important;
			-ms-grid-row-align: center !important;
			align-self: center !important;
		}
	}
	h2 {
		font-size : 71px;
		letter-spacing : 3.55px;
		color : #F9F9F4;
		line-height: 86px;
	}
	&:last-child {
		margin-bottom: -50px;
	}
}
.bg-blue {
	background: #39495b;
	color: #fff;
}
.bg-light-blue {
	background: #d8e2ea;
}
.bg-gray {
	background: #f0efed;
}
.text-center {
	text-align: center;
}
.slider {
	font-size: 24px;
	text-align: center;
	padding-bottom: 19px;
	img {
		margin-bottom: 27px;
	}
}
.block-style2 {
	padding: 70px 0;
	h2 {
		font-size : 36px;
		line-height : 48px;
		letter-spacing : 5.4px;
		color : #000000;
		margin-bottom: 30px;
	}
	*:last-child {
		margin-bottom: 0;
	}
	.row {
		> * {
			-webkit-align-self: center !important;
			-ms-flex-item-align: center !important;
			-ms-grid-row-align: center !important;
			align-self: center !important;
		}
	}
	&:last-child {
		margin-bottom: -50px;
	}
}
.img-full-height {
	margin: -70px auto !important;
}

.breadcrumbs {
	background: #F0F2F2;
	font-size : 14px;
	line-height : 21px;
	letter-spacing : 0.7px;
	background: #F0F2F2;
	margin: 10px 0 22px;
	padding: 4px 10px;
	ul {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		color: #000;
		margin-right: 16px;
		position: relative;
		&:first-child {
			margin-right: 4px;
			a {
				text-decoration: none;
			}
			&:after {
				display: none;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
			a {
				text-decoration: none;
			}
		}
		&:after {
			font-family: 'icomoon';
			&:extend(.icon-arrow-right:before all);
			position: absolute;
			top: 0;
			right: -16px;
			font-size: 11px;
			color: #666666;
		}
	}
	a {
		text-decoration: underline;
		color: #666666;
		&:hover {
			text-decoration: none;
		}
	}
	.icon-home {
		font-size: 16px;
		display: block;
		margin-top: 2px;
	}
}



	
.main-content {
	font-size: 14px;
	color: #666;
	h1 {
		font-size : 36px;
		letter-spacing : 5.4px;
		margin-bottom: 27px;
	}
	h3 {
		font-size : 24px;
  		letter-spacing : 1.2px;
		margin-top: 27px;
		margin-bottom: 24px;
	}
}

.folder-item {
	list-style: none;
	padding: 0;
	font-size: 14px;
	li {
		margin-bottom: 10px;
	}
	a {
		display: block;
		color: #666666;
		text-decoration: none;
		border: 1px solid #b9bab5;
		background: #fff;
		border-radius: 9px;
		padding: 9px 15px;
		&:hover {
			color: #B22D34;
		}
	}
	.icon {
		font-size: 17px;
		vertical-align: top;
		display: inline-block;
		margin-top: 3px;
		margin-right: 5px;
		margin-left: 2px;
	}


}

.aluminium {
	margin-bottom: 50px;
	h4 {
		font-size: 14px;
		background: #F0F2F2;
		color: #000;
		line-height: 25px;
		padding: 0 8px;
		margin-bottom: 13px;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	.icon {
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		margin-left: 9px;
		margin-right: 5px;
		margin-top: 4px;
	}
	li {
		margin-bottom: 2px;
	}
}
.section-product-info {
	overflow: hidden;
	border-bottom: 1px solid #dddddb;
	padding-bottom: 57px;
	margin-bottom: 14px;
}
.product-info-text {
	float: left;
}
.product-info-text p {
	margin: 0;
	line-height: 21px;
}
.left-product-info {
	width: 94px;
	display: inline-block;
}
.product-info-img {
	float: left;
	margin-left: 86px;
}
.legende-block {
	line-height: 21px;
	display: inline-block;
	vertical-align: top;
	margin-right: 49px;
	p {
		margin: 0;
	}
}
.wrap-legende {
	position: relative;
	margin-bottom: 19px;
	padding-right: 160px;
}
.btn-upload {
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
	background: #F0F2F2;
	border-radius: 5px;
	color: #000;
	font-size: 14px;
	padding: 7px 14px;
	.icon {
		font-size: 17px;
		vertical-align: middle;
		margin-right: 5px;
	}
	&:hover, &:focus {
		color: #000;
		background: #EAECEC;
	}
}
.wrap-table {
	overflow: auto;
	margin-bottom: 16px;
}
table {
	width: 100%;
	border: 1px solid #eaeae8;
	text-align: center;
	font-size: 14px;
	line-height: 15px;
}
th {
	border: 1px solid #eaeae8;
	padding: 4px;
	color: #000;
	background: #f0f2f2;
	font-weight: normal;
}
td {
	border: 1px solid #eaeae8;
	padding: 4px;
	background: #fff;
}
.text-right {
	text-align: right;
}

*:not(.wrap-breadcrumbs) + .main-content{
	padding-top: 61px;
}
.checkbox {
	display: none;
}
.checkbox + div {
	height: 24px;
	width: 24px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #eaeae8;
	background: #fff;
	border-radius: 4px;
	margin-right: 4px;
}
.btn-sm {
	padding: 6px 22px;
	border-radius: 5px;
}
.checkbox-wrap {
	padding: 21px 0;
}
.contact-block {
	padding-top: 5px;
	line-height: 21px;
	font-size: 16px;
	h4 {
		margin-bottom: 24px;
		margin-top: 37px;
		&:first-child {
			margin-top: 0;
		}
	}
	p {
		margin-bottom: 19px;
	}
}
.contact-width {
	display: inline-block;
	width: 100px;
}
.ihr_ansprechpartner {
	h4 {
		margin-bottom: 0;
	}
}

.search-long {
	position: relative;
	button {
		position: absolute;
		left: 0;
		top: 6px;
		color: #000;
		font-size: 20px;
		background: transparent;
		border: none;
		padding: 0;
	}
}

.search-item {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		margin-bottom: 10px;
	}
	.img-product {
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		height: 82px;
		margin-right: 18px;
		margin-bottom: 0;
	}
	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		width: 80%;
	}
}

.search-results {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 22px;
}
.button-menu {
	display: none;
}
@media (max-width: 991px) {
	.logo {
		margin-right: 4px;
	}
	.main-nav > ul > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
	.search-header {
		width: 200px;
	}
}
@media (max-width: 767px) {
	  .button-menu {
	    height: auto;
	    width: 2.14285714rem;
	    top: 15px;
	    right: 1.07142857rem;
	    position: absolute;
	    display: block;
	    cursor: pointer;
	  }
	  .button-menu div {
	    width: 1.85714286rem;
	    margin: 0.60714286rem 0.17857143rem;
	    height: 2px;
	    -webkit-transition: all 0.2s ease-out 0s;
	    -moz-transition: all 0.2s ease-out 0s;
	    -o-transition: all 0.2s ease-out 0s;
	    -ms-transition: all 0.2s ease-out 0s;
	    transition: all 0.2s ease-out 0s;
	    position: relative;
	    background: #fff;
	    min-height: 1px;
	  }
	  .open-menu .button-menu div:first-child {
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    top: 0.67857143rem;
	  }
	  .open-menu .button-menu div:nth-child(2) {
	    opacity: 0;
	  }
	  .open-menu .button-menu div:last-child {
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    top: -0.67857143rem;
	  }
	.main-nav {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
		z-index: 9999;
		ul {
			padding: 10px 0;
		}
		li {
			display: block;
			width: 100%;
			margin: 0;
		}
	}
	.main-nav > ul > li > a {
		padding: 2px 10px;
		text-align: center;
	}
	.open-menu .main-nav {
		display: block;
	}
	.main-nav ul ul {
		display: block;
		position: static;
		text-align: center;
	}
	.main-header {
		position: relative;
	}
	.logo {
		width: 70px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.search-header {
		width: 150px;
		margin-top: 24px;
		float: left;
		margin-left: 10px;
	}
	.block-style {
		font-size: 18px;
		line-height: 30px;
	}
	.slick-slide {
		font-size: 16px;
		line-height: 18px;
	}
	.block-style h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.footer-column {
		padding-left: 8px;
	}
	.footer-column .icon-footer {
	    left: -13px;
	    font-size: 18px;
	}
	.img-full-height {
		margin-bottom: 20px !important;
	}
	.block-style2 h2 {
		font-size: 24px;
		line-height: 26px;
	}
	.search-item p {
		width: 52%;
	}
}